# Ignorar archivos sensibles
.env

# Directorios comunes a ignorar
__pycache__/
.vscode/
env/
venv/
*.log
*.sqlite3
*.db
MONGO_URI=mongodb+srv://sergiojairceron:1l1KR3S4W1@cluster0.03zbm47.mongodb.net/Reporteria?retryWrites=true&w=majority
